#page{
  position: absolute;
  right: 130px;
  top: 30px;
  color:#2CB1BC;
  font-size:9px;
}
#pic{
  text-align: center;
}
.juzhong{
        width: 680px;
        margin: 0 auto;
        height:1000px;
        padding: 30
}
.juzhong table{
        text-align: center;
}
.first{
        border:2px solid #AE5651;
        border-collapse:collapse;
}
.first tr{
        line-height: 28px;
        border:2px solid #AE5651;
}
.first img{
        width:30px;
        height: 30px;
}
.stl_01 {
	position: relative;
      white-space: nowrap;
}
.stl_09 {
      letter-spacing: 0em;
 
}
.stl_19 {
	font-size: 14px;
	font-family: "OIMTEP+MicrosoftYaHei", "Times New Roman";
      color: #2CB1BC;

}
.stl_20 {
      line-height: 1.319824em;

}
.stl_21 {
	font-size:14px;
	font-family: "HCBRNO+MicrosoftYaHei";
      color: #2CB1BC;
}
