
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link rel="stylesheet" type="text/css" href="TP53-1.css">
</head>
<body>
<p id="page">- &nbsp;1&nbsp; -</p>
<div class="youduiqi">
<p style="text-align: left;"><img src="picture_2.png" width="102" height="46"  /></p>
<p><img src="picture_1.png" alt="IMG_256" width="532" height="318" /></p>
<p style="font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;泰康客户专享套餐</p>
<table cellspacing="0" class="tablect">
<thead>
<tr class="header">
<th style="font-weight: normal;">姓&nbsp; 名 ：</th>
<th style="font-weight: normal;">&nbsp;&nbsp;{{ patient_info.name }}</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>性 &nbsp;别 ：</td>
<td style="font-weight: normal">&nbsp;&nbsp;&nbsp;{{ patient_info.sex }}</td>
</tr>
<tr class="even">
<td>年 &nbsp;龄 ：<span></span></td>
<td style="font-weight: normal">&nbsp;&nbsp;&nbsp;{{ patient_info.age }}</td>
</tr>
<tr class="odd">
<td>样本编号：<span></span></td>
<td style="font-weight: normal">&nbsp;&nbsp;{{ patient_info.number }}</td>
</tr>
<tr class="even">
<td>样本类型：</td>
<td style="font-weight: normal">&nbsp;&nbsp;{{ patient_info.form }}</td>
</tr>
<tr class="odd">
<td>报告日期：<span></span></td>
<td style="font-weight: normal">&nbsp;&nbsp;{{ patient_info.report_date }}</td>
</tr>
<div style="position:absolute;bottom:-25%;">
<div class="stl_01" style="float:left"><span class="stl_19 stl_20 stl_09"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;云南舜喜再生医学工程有限公司 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
<div class="stl_01" style="float:left"><span class="stl_19 stl_20 stl_09"> 电话：</span><span class="stl_21 stl_20 stl_09">400-6189-653 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
<div class="stl_01" style="float:left"><span class="stl_19 stl_20 stl_09"> 网址：http://www.shunxirm.com &nbsp;&nbsp;</span></div>
</div>
</tbody>
</table>
</body>
</html>